{% extends 'auth/auth.html.twig' %}

{% block title %}{{ 'auth.email.title'|trans({'%title%': appname|capitalize}, 'auth') }}{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ asset('js/alert.js') }}" />
<script></script>
{% if not success is defined and not error is defined  %}
    {% if noverified is defined %}
        {% if noverified == true %}
            <p>{{ 'auth.email.please_verify'|trans({}, 'auth') }}</p>
        {% endif %}
    {% endif %}
{% else %}
    {% if success is defined and success %}
        <script> cuteToast('success', "{{ success }}") 
                setTimeout(() => {window.top.location = "/"}, 5000)
        </script>
    {% endif %}
    {% if error is defined and error %}
        <script> cuteToast('error', "{{ error }}") </script>
    {% endif %}
{% endif %}

   <img class="wave" src="{{ asset('img/wave.png') }}" alt="waves">
    <div class="container">
        <div class="img">
            <img src="{{ asset('img/bg.svg') }}" alt="Background">
        </div>
        <div class="login-container">
            <p> {{ 'auth.email.please_verify'|trans({}, 'auth')|capitalize }} </p>
        </div>
    </div>

{% endblock %}

