{% extends 'auth/auth.html.twig' %}

{% block title %}{{ 'auth.email.title'|trans({'%title%': appname|capitalize}, 'auth') }}{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ asset('js/alert.js') }}" />
<script></script>
{% if not message is defined and not error is defined  %}
    {% if noverified is defined %}
        {% if noverified == true %}
            <p>{{ 'auth.email.please_verify'|trans({}, 'auth') }}</p>
        {% endif %}
    {% endif %}
{% else %}
    {% if message is defined and message%}
        <script> cuteToast('success', "{{ message}}") </script>
    {% endif %}
    {% if error is defined and error %}
        <script> cuteToast('error', "{{ error }}") </script>
    {% endif %}
{% endif %}

{% if button is defined %}
    <a href="{{ button[1] }}"> {{ button[0] }} </a>
{% endif %}
{% endblock %}